In [1]:
import pandas as pd
from sqlalchemy import create_engine, types, text
import gc

# Clear memory
gc.collect()

0

In [2]:
import pandas as pd
import sys
sys.path.append('../')
from db_connect import get_engine
from sqlalchemy import text, types

# Get database connection
engine = get_engine()

In [3]:
print(engine)

Engine(postgresql://hamayunrahimzai:***@data-analytics-course-2.c8g8r1deus2v.eu-central-1.rds.amazonaws.com:5432/nf260325)

In [ ]:
customer_dtype = {  
            'customer_id' : types.VARCHAR,
            'first_name' : types.VARCHAR,
            'last_name' : types.VARCHAR,
            'username' : types.VARCHAR,
            'email' : types.VARCHAR,
            'gender' : types.VARCHAR,
            'birthdate' : types.DATE,
            'device_type' : types.VARCHAR,
            'device_id' : types.VARCHAR,
            'device_version' : types.VARCHAR,
            'home_location_lat' : types.DECIMAL,
            'home_location_long' : types.DECIMAL,
            'home_location' : types.VARCHAR,
            'home_country' : types.VARCHAR,
            'first_join_date' : types.DATE
            }

In [ ]:
# Load customers data
df_customers = pd.read_csv('../../data/raw/customer.csv')
df_customers.to_sql('customers_raw', engine,'s_hamayunrahimzai',if_exists='replace',dtype=customer_dtype, index=False)
print(f"Loaded {len(df_customers)} customers")

/var/folders/2d/6kky53r90h312l6jvp5rdjh80000gn/T/ipykernel_34131/2608016937.py:3: FutureWarning: Starting with pandas version 3.0 all arguments of to_sql except for the arguments 'name' and 'con' will be keyword-only.
  df_customers.to_sql('customers_raw', engine,'s_hamayunrahimzai',if_exists='replace',dtype=customer_d_type, index=False)

Loaded 100000 customers

In [15]:
product_dtype = {  
            'id' : types.INTEGER,
            'gender' : types.VARCHAR,
            'masterCategory' : types.VARCHAR,
            'subCategory' : types.VARCHAR,
            'articleType' : types.VARCHAR,
            'baseColour' : types.VARCHAR,
            'season' : types.VARCHAR,
            'year' : types.INTEGER,
            'usage' : types.VARCHAR,
            'productDisplayName' : types.VARCHAR
            }

In [17]:
# Load products data
df_products = pd.read_csv('../../data/raw/product.csv', usecols=range(10))
df_products.to_sql('products_raw', engine,'s_hamayunrahimzai', if_exists='replace',dtype=product_dtype, index=False)
print(f"Loaded {len(df_products)} products")

/var/folders/2d/6kky53r90h312l6jvp5rdjh80000gn/T/ipykernel_36983/2854734535.py:3: FutureWarning: Starting with pandas version 3.0 all arguments of to_sql except for the arguments 'name' and 'con' will be keyword-only.
  df_products.to_sql('products_raw', engine,'s_hamayunrahimzai', if_exists='replace',dtype=product_dtype, index=False)

Loaded 44446 products

In [20]:
transactions_dtype = {  
            'created_at' : types.TIMESTAMP,
            'customer_id' : types.VARCHAR,
            'booking_id' : types.VARCHAR,
            'session_id' : types.VARCHAR,
            'product_metadata' : types.VARCHAR,
            'payment_method' : types.VARCHAR,
            'payment_status' : types.VARCHAR,
            'promo_amount' : types.DECIMAL,
            'promo_code' : types.VARCHAR,
            'shipment_fee' : types.DECIMAL,
            'shipment_date_limit' : types.DATE,
            'shipment_location_lat' : types.DECIMAL,
            'shipment_location_long' : types.DECIMAL,
            'total_amount' : types.DECIMAL
            }

In [21]:
# Load transactions data
df_transactions = pd.read_csv('../../data/raw/transactions.csv')
df_transactions.to_sql('transactions_raw', engine,'s_hamayunrahimzai', if_exists='replace', dtype=transactions_dtype,index=False)
print(f"Loaded {len(df_transactions)} transactions")

/var/folders/2d/6kky53r90h312l6jvp5rdjh80000gn/T/ipykernel_36983/3711243484.py:3: FutureWarning: Starting with pandas version 3.0 all arguments of to_sql except for the arguments 'name' and 'con' will be keyword-only.
  df_transactions.to_sql('transactions_raw', engine,'s_hamayunrahimzai', if_exists='replace', dtype=transactions_dtype,index=False)

Loaded 852584 transactions

In [42]:
with engine.begin() as conn:
    conn.execute(text("""
        DROP TABLE IF EXISTS click_stream_raw;
        CREATE TABLE click_stream_raw (
            session_id VARCHAR,
            event_name VARCHAR,
            event_time TIMESTAMP,
            event_id VARCHAR,
            traffic_source VARCHAR,
            event_metadata VARCHAR
        );
    """))

In [4]:
click_stream_dtype = {  
            'session_id' : types.VARCHAR,
            'event_name' : types.VARCHAR,
            'event_time' : types.TIMESTAMP,
            'event_id' : types.VARCHAR,
            'traffic_source' : types.VARCHAR,
            'event_metadata' : types.VARCHAR
            }

In [5]:
# Load click_stream data
df_clicks = pd.read_csv('../../data/raw/click_stream.csv')
df_clicks.to_sql('click_stream_raw', engine,'s_hamayunrahimzai', if_exists='replace',dtype=click_stream_dtype, index=False)
print(f"Loaded {len(df_clicks)} click events")

/var/folders/2d/6kky53r90h312l6jvp5rdjh80000gn/T/ipykernel_37933/3523959829.py:3: FutureWarning: Starting with pandas version 3.0 all arguments of to_sql except for the arguments 'name' and 'con' will be keyword-only.
  df_clicks.to_sql('click_stream_raw', engine,'s_hamayunrahimzai', if_exists='replace',dtype=click_stream_dtype, index=False)

Loaded 12833602 click events